.btn {
    background-color: #fed136;
    border-color: #fed136;
    border-radius: 3px;
    color: #fff;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn-l {
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn-l:hover,.btn-l:focus,.btn-l:active,.btn-l.active {
	color:#fff;
	background-color:#fec503;
	border-color:#f6bf01
}

.navbar-default.darkbg{background-color: #222}